name: Generate Docs

on:
  push:
    branches:
      - master
  workflow_dispatch:
    branches:
      - master

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v5
      with:
        python-version: 3.12
    - uses: actions/setup-node@v6
      with:
        node-version: 18

    - run: npm install -g @mermaid-js/mermaid-cli

    - name: Generate Docs
      run: make docs

    - name: Deploy Docs
      uses: peaceiris/actions-gh-pages@v4
      if: ${{ github.event_name == 'workflow_dispatch' }}
      with:
        publish_branch: gh-pages
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/html/
        force_orphan: true
